<!-- implemntation 1 -->
<!-- <h1>{{value}}</h1> -->
<!-- <h2>{{name}}</h2>
<h3>{{greet()}}</h3>
<button [disabled]="true">click</button>
<input type="text" [readonly]="true" value="u can't edit me"> -->
<!-- implemntation 2 -->
<!-- <div>
<button (click)="increment()">+1</button>
<button (click)="decrement()">-1</button>
</div> -->
<!-- implemntation 3 -->
<!-- <h1 [ngStyle]="{'background-color':'blue'}">hello</h1>
<h2 [ngClass]="'col'">hi</h2> -->
<!-- implemntation 4 -->
<!-- <div class="box">
  <div class="in1">
    <div id="in11"><img src="/assets/drawers.jpg" alt="img" /></div>
    <div id="in12">
      <h2>
        Shift the overall look and feel by adding these wonderful touches to
        furniture in your home
      </h2>
      <div class="br"></div>
      <p>
        Ever been in a room and felt like something was missing? Perheps it felt
        slighthly bare and uninviting.I've got some simple tip to help you make
        any room feel comlete.
      </p>
      <div class="br1"></div>
      <div class="in13">
        <div class="in131">
          <div class="item1">
            <img src="/assets/avatar-michelle.jpg" alt="" />
          </div>
          <div [ngClass]='"item2"'>
            <p><strong>Michelle Appleton </strong> 28 June 2020</p>
          </div>
        </div>
        <div class="flex2">
          <button id="btn1" (click)="dotask()">  
            <img id="svg1" src="/assets/icon-share.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
    <div id="i" class="shbar" [ngStyle]="doit==true ? {'display':'flex'} : {'display':'none'}">
      <p>SHARE</p>
      <div class="cont">
        <img id="svg" src="/assets/icon-facebook.svg" alt="" />
      </div>
      <div class="cont">
        <img id="svg" src="/assets/icon-twitter.svg" alt="" />
      </div>
      <div class="cont">
        <img id="svg" src="/assets/icon-pinterest.svg" alt="" />
      </div>
    </div>
  </div>
</div> -->
<!-- implementation of 12 day -->
<!-- <app-test></app-test> -->
<!-- <app-navbar></app-navbar> -->
<!-- <router-outlet></router-outlet> -->
<!-- thu task -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" >
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup"style="background-color: rgb(43, 112, 145);">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/home']">Home </a>
      <a class="nav-item nav-link" [routerLink]="['/about']">About</a>
      <a class="nav-item nav-link" [routerLink]="['/contact']">Contact</a>
      <a class="nav-item nav-link" [routerLink]="['/login']">Login</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer> -->
<!-- friday reactive form -->
<app-reactive-form></app-reactive-form>