
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 40px;
  min-height: 100vh;
  flex-wrap: wrap;
}
.container > div {
  flex: 1;
}
.box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.box p {
  margin: 0;
}
.box-blue {
  background-color: hsl(248, 32%, 49%);
}
input {
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 25px;
  display: block;
  width: 100%;
}
input:focus {
  border: 1px solid hsl(248, 32%, 49%);
  outline: none;
}
button {
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  border: 1px solid hsl(154, 59%, 45%);
  border-bottom-width: 3px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 25px;
  display: block;
  width: 100%;
  cursor: pointer;
}
button:focus {
  outline: none;
}
small {
  color: red;
}
@media screen and (max-width: 768px) {
  h1,
  p {
    text-align: center;
  }
  .container {
    flex-direction: column;
  }
}
